[defaults]
host_key_checking = False
remote_user = ubuntu
inventory = /inventory/inventory.ini
roles_path = /kubespray/roles
forks = 20
gathering = smart
fact_caching = jsonfile
fact_caching_connection = /tmp/ansible-facts
stdout_callback = default
deprecation_warnings = False

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o ServerAliveInterval=30 -o ServerAliveCountMax=3
control_path = /tmp/%%h-%%r
